<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="login.css">
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <title>DOCTOR LOGIN</title>
    </head>
    <body>
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    <img decoding="async" src="/doctor (1).png" alt="">
                </div>
                <div class="login__forms">
                    <form action="" class="login__registre" id="login-in" method="get">
                        <h1 class="login__title">LOGIN</h1>
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Enter name" class="login__input">
                        </div>
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Enter Password" class="login__input">
                        </div>
                        <a href="#" class="login__forgot">Forgot password?</a>
                        <a href="#" class="login__button">Login</a>
                        <div>
                            <span class="login__account">Don't have an Account ?</span>
                            <span class="login__signin" id="sign-up"><a th:href="@{/doctorsignup}">Sign Up</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>